.DS_Store
node_modules
/dist
/public


# local env files
.env.local
.env.*.local
firebase.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/test/emulators/extensions/firebase/storage-resize-images@0.1.18/functions/node_modules/*
src/test/emulators/extensions/firebase/storage-resize-images@0.1.18/functions/package.json
src/test/emulators/extensions/firebase/storage-resize-images@0.1.18/functions/package-lock.json

/.vscode
node_modules
/coverage
/.coverage
/.nyc_output
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
npm-debug.log
ui-debug.log
yarn.lock
.npmrc

.DS_Store
.idea
*.iml
*.tgz
scripts/*.json

lib/
dev/
clean/